html{
  height: 100vh;
}

.body{
  height: 100%;
  background-color: #26A65B;
  background-image: url(http://weknowyourdreams.com/images/food/food-02.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

#body-cart{
  height: 100vh;
}

#right{
  height: 95%;
}

.whitetext{
  color: white;
}

#left{
  padding: 5%;
  border-right: 1px, solid, black;
}

.writing{
  font-family: 'Quicksand', sans-serif;
}

.heavy{
  font-weight: 700;
}

.light{
  font-weight: 300;
}

.table{
  display: table;
  height: 100%;
}

.cell{
  display: table-cell;
  width: 50%;
  height: 100%;
}

.cell2{
  display: table-cell;
  width: 33%;
  height: 100%;
  /*padding-top: 7.5%;
  padding-right: 2.5%;*/
  position: relative;
}

#form-holder{
  background-color: white;
  padding-left: 5%;
  width: 75%;
  border-radius: 15px;
  padding: 5%;
}

#form{
  width: 75%;
  margin-top: 5%;
}

.parent{
  position: relative;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-form{
  background-color: white;
  width: 50%;
  border-radius: 15px;
}

a{
  text-decoration: none !important;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.horizontal-center{
  left: 0;
  right: 0;
  margin: auto;
}

.entry{
  height: 300px;
  border-radius: 15px;
  border: solid 1pt black;
}

#item-image{
  width: 100%;
  height: 100%;
}

#big-container{
  background-color: white;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.bordered{
  border: solid 1px black;
}

.view-cover{
  height: 100%;
  position: fixed;
  top: 0; bottom: 0; margin: auto;
  background-color: black;
  opacity: .8;
  width: 100%;
  z-index: 100;
}

#item-view{
  width: 75%;
  max-height: 75%;
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 2.5%;
  z-index: 999;
}

.banner{
  background-color: #A8C093;
  height: 300px;
}

.info{
  margin-top: 5%;
  width: 75%;
}

#cart{
  position: fixed;
  background-color: #E5E5E5;
  width: 25%;
  height: auto;
  z-index: 999;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  overflow-y: auto;
}

.cart-onscreen{
  right: 0;
}

.item{
  height: 128px;
  background-color: beige;
}
