html{
  height: 100%;
}

.navbarcolor{

}

.body{
  height: 100%;
  background-color: #26A65B;
  background-image: url(http://weknowyourdreams.com/images/food/food-02.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

#right{
  height: 95%;
}

.whitetext{
  color: white;
}

#left{
  padding: 5%;
  border-right: 1px, solid, black;
}

.writing{
  font-family: 'Quicksand', sans-serif;
}

.heavy{
  font-weight: 700;
}

.light{
  font-weight: 300;
}

.table{
  display: table;
  height: 100%;
}

.cell{
  display: table-cell;
  width: 50%;
  height: 100%;
}

.cell2{
  display: table-cell;
  width: 33%;
  height: 100%;
  /*padding-top: 7.5%;
  padding-right: 2.5%;*/
  position: relative;
}

#form-holder{
  background-color: white;
  height: 75%;
  border-radius: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5%;
}

#form{
  width: 75%;
  margin-top: 5%;
}

.parent{
  position: relative;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-form{
  background-color: white;
  width: 50%;
  border-radius: 15px;
}

a{
  text-decoration: none !important;
}
