{% extends "master.html" %}

{% block head %}
{{ super() }}
{% endblock %}


<!-- Each row has 4 items, I've labeled the parts that we need to replace -->
<!-- Need to replace the image, the title, the description -->



<!--BEGIN BODY -->
{% block body %}
<body id="body-home">

  <!--This serves as the darkening agent for individual item view -->
  <div class="view-cover"></div>
  <!-- End cover here -->

    <!---START CRAPPY CODE MIGHT JUST DELETE --->
      <div id="item-view" class="writing">

        <a href="#" id="close"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="float: right"></span></a>


        <div class="row">
          <div class="col s6">
            <img src="http://www.dineoncampus.com/tools/contentImages/image/turkeysub2.jpg" id="item-image">
          </div>

          <div class="col s6">
            <center>
              <h1>Title</h1>
              <h5>Provider Name, Address goes here</h5>
              <hr color="black" width="75%">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis tristique ante, eget lobortis erat ullamcorper vel. Fusce imperdiet faucibus nunc id lobortis.</p>
              <hr color="black" width="75%">
            </center>
            <h6>Buy it now!</h6>
            <form class="" action="index.html" method="post">
              <div class="row">

                <div class="input-field col s4">
                  Quantity
                  <select name="quantity" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

                <div class="row">
                    <div class="input-field col s4">
                          <a class="waves-effect waves-light btn">Add to Cart</a>
                    </div>

                    <div class="input-field col s4 offset-s1">
                          <a class="waves-effect waves-light btn">Get Directions</a>
                    </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    <!--END CRAPPY CODE -->



  <!--CONTAINER THAT HOLDS EVERYTHING -->
  <div id="big-container" >
      <h1 style="margin-bottom: 5%">Near You</h1>
    <!--- START OF ONE ROW, EACH ROW HAS 4 ITEMS -->
      <div class="row">

        <!--START OF ONE ITEM, THIS IS ONE OF THE BOXES, REPETITIVE CODE-->
            <div class="col s3 white entry writing">
              <center> <!-- Centers all the material in one box-->
                <i class="large material-icons">stars</i> <!--Placeholder for the image-->
                <h5>New Item</h5> <!--Title of Item -->
                <p> <!--Description of item -->
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>
          <!--END OF THE ITEM-->

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>
      </div>

      <!--END THE ROW HERE -->

      <!--START ROW-->
      <div class="row">
            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>
      </div>
      <!--ENDROW HERE-->

      <!-- START ROW HERE -->
      <div class="row">
            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn info">Add to Cart</a>
              </center>
            </div>
      </div>
      <!-- END ROW HERE -->
      <script src="/static/app.js"></script>
</body>

{% endblock %}
