{% extends master.html %}

{% block head %}
{{ super() }}
{% endblock %}

<!-- Each row has 4 items, I've labeled the parts that we need to replace -->
<!-- Need to replace the image, the title, the description -->


<!--BEGIN BODY -->
{% block body %}
<body id="body-home">

  <!--CONTAINER THAT HOLDS EVERYTHING -->
  <div id="big-container">
      <h1 style="margin-bottom: 5%">Near You</h1>
    <!--- START OF ONE ROW, EACH ROW HAS 4 ITEMS -->
      <div class="row">

        <!--START OF ONE ITEM, THIS IS ONE OF THE BOXES, REPETITIVE CODE-->
            <div class="col s3 white entry writing">
              <center> <!-- Centers all the material in one box-->
                <i class="large material-icons">stars</i> <!--Placeholder for the image-->
                <h5>New Item</h5> <!--Title of Item -->
                <p> <!--Description of item -->
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
          <!--END OF THE ITEM-->

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
      </div>

      <!--END THE ROW HERE -->

      <!--START ROW-->
      <div class="row">
            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
      </div>
      <!--ENDROW HERE-->

      <!-- START ROW HERE -->
      <div class="row">
            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
      </div>
      <!-- END ROW HERE -->
</body>
{% endblock %}
