<!--{% extends "master.html" %}

{% block head %}
{{ super() }}
{% endblock %}-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Angular</title>
    <link rel="stylesheet" href="../static/styles.css" media="screen" title="main-styles" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css" media="screen" title="flatUI" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- HEADER HERE ------->
	<header>
	  <nav>
	    <div class="nav-wrapper" style="padding-right: 2.5% ; padding-left: 5%">
	      <a href="#" class="brand-logo writing">Re-Fresh</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li class="writing"><a href="/">Home</a></li>  <!-- ADD ROUTE HERE -->
	        <li class="writing"><a href="/customerlogin">For Customers</a></li>  <!-- ADD ROUTE HERE -->
	        <li class="writing"><a href="/home">For Providers</a></li>
	      </ul>
	    </div>
	  </nav>
	</header>
	<!---END HEADER -------->

<!-- Each row has 4 items, I've labeled the parts that we need to replace -->
<!-- Need to replace the image, the title, the description -->



<!--BEGIN BODY -->
<!--{% block body %}-->
<body id="body-home">

  <!--This serves as the darkening agent for individual item view -->
  <div class="view-cover"></div>
  <!-- End cover here -->

    <!---START CRAPPY CODE MIGHT JUST DELETE --->
      <div id="item-view" class="writing">

        


        <div class="row">
          <div class="col s6">
            <img src="http://www.dineoncampus.com/tools/contentImages/image/turkeysub2.jpg" id="item-image">
          </div>

          <div class="col s6">
            <center>
              <h1>Title</h1>
              <h5>Provider Name, Address goes here</h5>
              <hr color="black" width="75%">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis tristique ante, eget lobortis erat ullamcorper vel. Fusce imperdiet faucibus nunc id lobortis. Aliquam sed nibh eu velit volutpat dictum ac at turpis. Sed vel purus neque. Aenean elementum augue ac turpis luctus mollis. Praesent lectus magna, molestie sit amet elit vitae, accumsan fringilla leo. Quisque lacinia elit eget tortor placerat, sit amet venenatis orci pretium. Suspendisse ut odio eget nunc egestas semper. Duis gravida libero et libero lobortis ullamcorper. Praesent ut magna vitae tellus venenatis volutpat. Sed eget rhoncus sem. Sed sed aliquam velit. Nam id lobortis metus. Sed commodo libero in lacus condimentum, nec tincidunt turpis venenatis.</p>
              <hr color="black" width="75%">
            </center>
            <h6>Buy it now!</h6>
            <form class="" action="index.html" method="post">
              <div class="row">

                <div class="input-field col s4">
                  Quantity
                  <select name="quantity" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

                <div class="row">
                    <div class="input-field col s4">
                          <a class="waves-effect waves-light btn">Add to Cart</a>
                    </div>

                    <div class="input-field col s4 offset-s1">
                          <a class="waves-effect waves-light btn">Get Directions</a>
                    </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    <!--END CRAPPY CODE -->



  <!--CONTAINER THAT HOLDS EVERYTHING -->
  <div id="big-container" >
      <h1 style="margin-bottom: 5%">Near You</h1>
    <!--- START OF ONE ROW, EACH ROW HAS 4 ITEMS -->
      <div class="row">

        <!--START OF ONE ITEM, THIS IS ONE OF THE BOXES, REPETITIVE CODE-->
            <div class="col s3 white entry writing">
              <center> <!-- Centers all the material in one box-->
                <i class="large material-icons">stars</i> <!--Placeholder for the image-->
                <h5>New Item</h5> <!--Title of Item -->
                <p> <!--Description of item -->
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
          <!--END OF THE ITEM-->

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
      </div>

      <!--END THE ROW HERE -->

      <!--START ROW-->
      <div class="row">
            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
      </div>
      <!--ENDROW HERE-->

      <!-- START ROW HERE -->
      <div class="row">
            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>

            <div class="col s3 white entry writing">
              <center>
                <i class="large material-icons">stars</i>
                <h5>New Item</h5>
                <p>
                  This is a small little description where the people can describe their product woo!
                </p>
                <a class="waves-effect waves-light btn">Add to Cart</a>
              </center>
            </div>
      </div>
      <!-- END ROW HERE -->
</body>
<!--{% endblock %}-->
