<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Angular</title>
    <link rel="stylesheet" href="../static/styles.css" media="screen" title="main-styles" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css" media="screen" title="flatUI" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>



    <!--START NAVBAR ---------->
    <nav class="navbar navbar-default navbarcolor" style="margin-bottom: 0px">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Re-Fresh</a>
        </div>


<header>
    <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
</header>

  <body id="body">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <div class="table">
          <div class="cell" id="left">
            <h1 class="writing heavy whitetext">Welcome to Refresh</h1>
            <h3 class="writing whitetext">With Re-Fresh, you save money, stores make more money, and less food goes to waste</h2>
              <p class="writing light whitetext">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis tristique ante, eget lobortis erat ullamcorper vel. Fusce imperdiet faucibus nunc id lobortis. Aliquam sed nibh eu velit volutpat dictum ac at turpis. Sed vel purus neque. Aenean elementum augue ac turpis luctus mollis. Praesent lectus magna, molestie sit amet elit vitae, accumsan fringilla leo. Quisque lacinia elit eget tortor placerat, sit amet venenatis orci pretium. Suspendisse ut odio eget nunc egestas semper. Duis gravida libero et libero lobortis ullamcorper. Praesent ut magna vitae tellus venenatis volutpat. Sed eget rhoncus sem. Sed sed aliquam velit. Nam id lobortis metus. Sed commodo libero in lacus condimentum, nec tincidunt turpis venenatis.

Nam mauris nulla, ultricies eget dui id, sagittis dignissim nulla. Vestibulum ex massa, tincidunt ut magna in, tempus scelerisque arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sit amet dui sit amet turpis malesuada elementum sit amet at arcu. Suspendisse consectetur ornare dui ac dictum. Etiam vel mauris sed ligula consectetur euismod. Cras metus sem, tempus quis ligula vitae, feugiat tincidunt arcu.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus vitae iaculis nisl. Maecenas libero dui, laoreet at velit sed, eleifend dapibus sapien. Vivamus porttitor est et efficitur tristique. Nullam interdum, quam id efficitur fringilla, felis orci viverra eros, in lobortis nisi ex non dui. Morbi in velit sit amet ligula commodo facilisis. Etiam semper interdum scelerisque. Etiam gravida est non rhoncus finibus. Nam convallis odio ut nulla luctus, vitae mattis purus facilisis. Nunc bibendum imperdiet dolor, vitae eleifend nibh dignissim quis. Aliquam erat volutpat. Fusce in nisi faucibus, vestibulum ipsum id, pharetra augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.

              </p>
          </div>

          <div class="cell2" id="right" >
              <div class="jumbotron parent" id="form-holder">
                <center><h1 class="writing">Sign up!</h1></center>
                <form class="center" id="form" action="/register" method="POST">
                  <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" "placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password">
                  </div>
									<button type="submit" class="btn btn-default writing">Submit</button>
									<small class="writing" style="float: right">Have an account? Log in <a href="#">here</a>!</small>
                </form>
              </div>
          </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
