<!-- START FOR REPETITIVE HEAD BLOCK-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Angular</title>
    <link rel="stylesheet" href="../static/styles.css" media="screen" title="main-styles" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css" media="screen" title="flatUI" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <!-- REPETITIVE BLOCK FOR SETTING UP STUFF-->

  <!-- HEADER HERE ------->
  <header>
    <div class="navbar-fixed">
      <nav>
      	<div class="nav-wrapper writing" style="padding-right: 2.5% ; padding-left: 5%">
      	  <a href="#" class="brand-logo">Re-Fresh</a>
      	  <ul id="nav-mobile" class="right hide-on-med-and-down">
      	    <li><a href="/templates/index.html">Home</a></li>  <!-- ADD ROUTE HERE -->
      	    <li><a href="/templates/customerlogin.html">Near You</a></li>  <!-- ADD ROUTE HERE -->
      	    <li><a href="#"><i class="material-icons">search</i></a></li>
            <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
            <li><a href="#"><i class="material-icons">settings</i></a></li>
      	  </ul>
      	</div>
      </nav>
    </div>
  </header>
  <!---END HEADER -------->

  <!-- Each row has 4 items, I've labeled the parts that we need to replace -->
  <!-- Need to replace the image, the title, the description -->


  <!--BEGIN BODY -->
  <body id="body-item">

    <!--CONTAINER THAT HOLDS EVERYTHING -->
    <div id="big-container" class="bordered">
      <div class="row">
	<div class="col s6">
          <img src="http://www.dineoncampus.com/tools/contentImages/image/turkeysub2.jpg" id="item-image">
	</div>

	<div class="col s6">
          <center>
            <h1 class="writing">Title</h1>
            <h5 class="writing">Provider Name, Address goes here</h5>
            <hr color="black" width="75%">
            <p class="writing">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis tristique ante, eget lobortis erat ullamcorper vel. Fusce imperdiet faucibus nunc id lobortis. Aliquam sed nibh eu velit volutpat dictum ac at turpis. Sed vel purus neque. Aenean elementum augue ac turpis luctus mollis. Praesent lectus magna, molestie sit amet elit vitae, accumsan fringilla leo. Quisque lacinia elit eget tortor placerat, sit amet venenatis orci pretium. Suspendisse ut odio eget nunc egestas semper. Duis gravida libero et libero lobortis ullamcorper. Praesent ut magna vitae tellus venenatis volutpat. Sed eget rhoncus sem. Sed sed aliquam velit. Nam id lobortis metus. Sed commodo libero in lacus condimentum, nec tincidunt turpis venenatis.</p>
            <hr color="black" width="75%">
          </center>
          <h6 class="writing">Buy it now!</h6>
          <div class="input-field col s12">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
	</div>
      </div>
    </div>
  </body>
