{% extends "master.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body class="body">
		<div id="login-form" class="center">
			<form method="POST">
				<div class="row">
					<h1 class="writing">Store Sign up</h1>

          <div class="input-field col s8 offset-s2">
            <input name="username" type="text" class="validate writing form-control" placeholder="Name">
          </div>

					<div class="input-field col s8 offset-s2">
						<input placeholder="Username" name="email" id="first_name" type="text" class="validate writing form-control">
					</div>

					<div class="input-field col s8 offset-s2">
						<input placeholder="Password" name="password" id="first_name" type="text" class="validate writing form-control">
					</div>

				</div>

				<div class="row">
					<button type="submit" class="btn btn-default writing">Submit</button>
				</div>

				<div class="row">
					<small class="writing" >Have an account? Log in <a href="/customerlogin">here</a>!</small> <!-- ADD ROUTE HERE -->
				</div>

			</form>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	</body>

{% endblock %}
